<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Auto Loan Calculator App</h1>
  <p>
    This an Auto Loan Calculator App duh...
  </p>
  <p>
    Source: https://www.bdo.com.ph/personal/loans/auto-loan/auto-loan-calculator
  </p>
  <br />
<img src="https://cdn.jsdelivr.net/gh/J0-qui/BMI-Calculator@master/BMI%20apple.webp">
<ion-item>
    <ion-label>Vehicle Price:</ion-label>
    <ion-input type="number" [(ngModel)]="vehicleprice"></ion-input>
</ion-item>
<ion-item>
   <ion-label>Loan Term:</ion-label>
   <ion-input type="number" [(ngModel)]="loanterm"></ion-input>
</ion-item>
<ion-item>
   <ion-label>Monthly Payment:</ion-label>
   <ion-input type="number" [(ngModel)]="downpayment"></ion-input>
</ion-item>

  <button ion-button color="secondary" (click)="calculateBMI()">CALCULATE</button>

  <ion-item *ngIf="bmi">
    <h2>Your Downpayment Amount is: {{bmi}} <code> ({{bmiMessage}})</code></h2>
    </ion-item>  
  <ion-item *ngIf="bmi">
    <h2>Your Loan Amount is: {{bmi}} <code> ({{bmiMessage}})</code></h2>
    </ion-item> 
  <ion-item *ngIf="bmi">
    <h2>Your Monthly Payment is: {{bmi}} <code> ({{bmiMessage}})</code></h2>
    </ion-item> 